<div class="card-container">
<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    
    <mat-card-title>sitaramam</mat-card-title>
    <mat-card-subtitle>Love</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="sita.jpeg" alt="Photo of a sitaramam">
  <mat-card-content>
    <p>
      Sita Ramam is a 2022 Telugu-language romantic drama that follows two intersecting love stories across different time periods. The narrative unfolds primarily through letters and a mission to deliver a decades-old message, exploring themes of unconditional love, duty, and cross-border humanity.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-icon>favorite</mat-icon>
     <mat-icon>favorite</mat-icon>
      <mat-icon>favorite</mat-icon>
       <mat-icon>favorite</mat-icon>
        <mat-icon class="disabled-icon">favorite</mat-icon>

  </mat-card-actions>
</mat-card>
<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Ala Vaikunthapurramuloo</mat-card-title>
    <mat-card-subtitle>Action Drama</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="

ala.jpeg
" alt="Movie poster for Ala Vaikunthapurramuloo">
  <mat-card-content>
    <p>
      A young man is unknowingly switched at birth and raised in a middle-class family, while the son of a rich businessman grows up in his place. The truth is revealed years later, leading to a dramatic twist of fate.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-icon>favorite</mat-icon>
    <mat-icon>favorite</mat-icon>
    <mat-icon>favorite</mat-icon>
    <mat-icon>favorite</mat-icon>
    <mat-icon>favorite</mat-icon>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Pushpa: The Rise</mat-card-title>
    <mat-card-subtitle>Action Thriller</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="

push.jpeg
" alt="Movie poster for Pushpa: The Rise">
  <mat-card-content>
    <p>
      A laborer named Pushpa Raj rises through the ranks of a red sandalwood smuggling syndicate, but his ambitious and fearless attitude makes him powerful enemies.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-icon>favorite</mat-icon>
    <mat-icon>favorite</mat-icon>
    <mat-icon>favorite</mat-icon>
    <mat-icon>favorite</mat-icon>
    <mat-icon>favorite</mat-icon>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Sarrainodu</mat-card-title>
    <mat-card-subtitle>Action</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="
sarai.jpeg
" alt="Movie poster for Sarrainodu">
  <mat-card-content>
    <p>
      Gana is a hot-headed young man who often fights against injustice. He crosses paths with a ruthless politician, leading to a high-octane battle between them.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-icon>favorite</mat-icon>
    <mat-icon>favorite</mat-icon>
    <mat-icon>favorite</mat-icon>
    <mat-icon class="disabled-icon">favorite</mat-icon>
    <mat-icon class="disabled-icon">favorite</mat-icon>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>DJ: Duvvada Jagannadham</mat-card-title>
    <mat-card-subtitle>Action Comedy</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="
dj.jpeg
" alt="Movie poster for DJ: Duvvada Jagannadham">
  <mat-card-content>
    <p>
      A Brahmin caterer with a hidden identity as a vigilante takes on a ruthless land mafia leader to protect the innocent.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-icon>favorite</mat-icon>
    <mat-icon>favorite</mat-icon>
    <mat-icon>favorite</mat-icon>
    <mat-icon class="disabled-icon">favorite</mat-icon>
    <mat-icon class="disabled-icon">favorite</mat-icon>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>Race Gurram</mat-card-title>
    <mat-card-subtitle>Action Comedy</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="race.jpeg" alt="Movie poster for Race Gurram">
  <mat-card-content>
    <p>
      An easygoing and carefree young man is forced to team up with his police officer brother to take down a corrupt and powerful politician.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <mat-icon>favorite</mat-icon>
    <mat-icon>favorite</mat-icon>
    <mat-icon>favorite</mat-icon>
    <mat-icon>favorite</mat-icon>
    <mat-icon class="disabled-icon">favorite</mat-icon>
  </mat-card-actions>
</mat-card>
</div>