.example-card {
  max-width: 300px;
 
  left: 200px;
  position: relative;
  display: inline-block;
}

.example-header-image {
  background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.disabled-icon {
  color: gray;         /* dim color */
  opacity: 0.5;        /* lighter look */
  pointer-events: none; /* prevent clicks */
}
.example-card img[mat-card-image] {
  height: 200px;       /* set same height */
  object-fit: cover;   /* crop image without distortion */
  width: 100%;         /* stretch to card width */
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;         /* space between cards */
}

.example-card {
  flex: 1 1 300px;   /* responsive width */
  max-width: 300px;  /* prevent too wide */
  height: 500px;     /* fixed equal height */
  display: flex;
  flex-direction: column;
}
